* {
    box-sizing: border-box;
}

body {
    margin: 0px;

    font-family: 'Barlow Semi Condensed', 'Times New Roman', Times, serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(210, 46%, 95%);

    font-size: 13px;
}

.grid__container {
    display: grid;

    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 50% 50%;

    grid-template-areas: 
        "item1 item1 item2 item3"
        "item4 item5 item5 item3";

    margin: 0px 150px;

    gap: 30px;
}

.item {
    box-shadow: 0px 5px 20px hsla(0, 0%, 0%, 0.2);
    padding: 30px;
    border-radius: 10px;
}

.grid__item1 {
    /* Can't use numbers for grid-area */
    grid-area: item1;

    background-image: url("images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position-x: 80%;

    background-color: hsl(263, 55%, 52%);
}

.grid__item2 {
    grid-area: item2;
    background-color: hsl(217, 19%, 35%);
}

.grid__item3 {
    grid-area: item3;
    background-color: hsl(0, 0%, 100%);
}

.grid__item4 {
    grid-area: item4;
    background-color: hsl(0, 0%, 100%);
}

.grid__item5 {
    grid-area: item5;
    background-color: hsl(219, 29%, 14%);
}

.profile {
    display: flex;
    gap: 20px;

    margin-bottom: 15px;
}

.profile__pic {
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50%;

    height: 32px;
}

.grid__item1 .profile__name,
.grid__item2 .profile__name,
.grid__item5 .profile__name,
.grid__item1 .profile__grad,
.grid__item2 .profile__grad,
.grid__item5 .profile__grad,
.grid__item1 .grid__text,
.grid__item2 .grid__text,
.grid__item5 .grid__text {
    color: hsla(0, 0%, 100%, 75%);
}

.grid__item1 .grid__header,
.grid__item2 .grid__header,
.grid__item5 .grid__header {
    color: hsla(0, 0%, 100%, 90%);
}

.grid__item3 .profile__name,
.grid__item4 .profile__name,
.grid__item3 .grid__header,
.grid__item4 .grid__header,
.grid__item3 .profile__grad,
.grid__item4 .profile__grad,
.grid__item3 .grid__text,
.grid__item4 .grid__text {
    color: hsla(0, 0%, 0%, 75%);
}

.grid__item3 .profile__grad,
.grid__item4 .profile__grad,
.grid__item3 .grid__text,
.grid__item4 .grid__text {
    color: hsla(0, 0%, 0%, 75%);
    opacity: 50%;
}

.grid__header {
    font-size: 20px;
    margin-bottom: 20px;
}

.profile__grad {
    opacity: 50%;
}

.grid__text {
    opacity: 70%;
    line-height: 1.1rem;
}
