* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.grid__container {
    border: 1px red solid;
    display: grid;

    grid-template-columns: 300px 300px 300px;
}

.grid__item1 {
    border: 1px red solid;
}

.grid__item2 {
    border: 1px red solid;
}

.grid__item3 {
    border: 1px red solid;
}

.grid__item4 {
    border: 1px red solid;
}

.grid__item5 {
    border: 1px red solid;
}
